[submodule "coms"]
	path = coms
	url = https://github.com/cefect/coms.git
	branch = FloodDownscaler
[submodule "whitebox-tools"]
	path = whitebox-tools
	url = https://github.com/cefect/whitebox-tools.git
[submodule "fperf"]
	path = fperf
	url = https://github.com/cefect/fperf
